.deps
.*.un~
.*.swp
*.o
*.tmp
*.html
*.png
*.gif
aclocal.m4
autom4te.cache
blc-*.tar.bz2
blc-*.tar.gz   
config.h
config.h.in
config.log
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
m4
missing
stamp-h1
src/x
