.deps
*~
*.swp
*.o
*.tmp
*.html
Makefile
Makefile.in
aclocal.m4
autom4te.cache
blc
blc-*.tar.bz2
blc-*.tar.gz   
config.h
config.h.in
config.log
config.guess
config.status
config.sub
configure
depcomp
install-sh
lambda
libtool
ltmain.sh
m4
missing
spec_blc
spec_lambda
stamp-h1

