.deps
*~
*.swp
*.o
*.tmp
bracket-*.tar.*
Makefile
Makefile.in
aclocal.m4
autom4te.cache
boot-eval
config.h
config.h.in
config.log
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
spec_bracket
stamp-h1
